.future-forecast-container::-webkit-scrollbar {
  height: 12px; /* Adjust the height of the scrollbar */
}

.future-forecast-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

.future-forecast-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 5px;
}

.future-forecast-container::-webkit-scrollbar-thumb:hover {
  background: black; /* Color of the thumb on hover */
  cursor: pointer;
}
#map {
  height: 600px;
  width: 80%;
  margin-top: 20px;
  border-radius:1rem;
  -webkit-border-radius:1rem;
  -moz-border-radius:1rem;
  -ms-border-radius:1rem;
  -o-border-radius:1rem;
  -webkit-border-radius:1rem;
} 
body {
  background-image: url(./background.png);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#search-bar:hover {
  background: rgba(1, 1, 1, 0.1);
  border: 2px solid rgb(255, 255, 255);
  filter: none;
  -webkit-filter: none;
}
#searchButton:hover {
  border: 1px solid #1dc723;
  cursor: pointer;
  background-color: white;
}

#weather-text {
  color: white;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

#city-name {
  color: rgb(32, 60, 173);
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container3D canvas {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  top: 0;
  left: 0;
}

#searchButton {
  background-color: #1dc723;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  border-radius: 0.4rem;
  border: 1px solid green;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

#inputLocation {
  border-radius: 0.4rem;
  background: rgba(255, 0, 0, 0);
  border: none;
  margin-right: 20px;
  padding: 10px;
  color: white;
}

#search-inner-box {
  display: flex;
  padding: 5px;
  transform: translate(20px);
  -webkit-transform: translate(20px);
  -moz-transform: translate(20px);
  -ms-transform: translate(20px);
  -o-transform: translate(20px);
}

#box-1,
#box-2,
#box-3,
#box-4 {
  background-color: rgba(255, 255, 255, 0.116);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  transition: 0.17s;
  position: absolute;
  border: 2px solid rgba(0, 255, 4, 0.274);
}

#box-5 {
  border-radius: 1rem;
  transition: 0.17s;
  position: absolute;
}
#box-6 {
  border-radius: 1rem;
  transition: 0.17s;
  position: absolute;
}

.inside-box {
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

#city {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#weather-status-img {
  margin-top: 20px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.future-weather-status-img {
  margin-top: 50px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.future-forecast-status {
  margin-top: 5px;
  font-size: 15px;
}
#temp {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-change-temprature {
  background-color: transparent;
  border: none;
}

#btn-change-temprature-c {
  font-weight: bold;
  color: white;
}

#btn-change-temprature-f {
  opacity: 40%;
  color: white;
}

.btn-change-temprature:hover {
  cursor: pointer;
}
#temp-change-btns {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Precipitation,
.Date,
.Time,
.Day,
.Humidity,
.Wind,
.country,
.region {
  margin-bottom: 10px;
  margin-top: 10px;
}

#time {
  margin-bottom: 10px;
}
.map-conatainer{ 
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  height: 700px;
  padding: 20px;
  border: 2px solid rgba(0, 255, 4, 0.274);
}
@media (min-width: 1500px) and (max-width: 1930px) {
  .future-forecast-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  .tittle-map {
    font-size: 40px;
  }
  .down-line {
    padding-top: 600px;
    position: absolute;
  }
  #weather-text {
    font-size: 100px;
    transform: translate(0px, 180px);
    -webkit-transform: translate(0px, 180px);
    -moz-transform: translate(0px, 180px);
    -ms-transform: translate(0px, 180px);
    -o-transform: translate(0px, 180px);
  }
  #city-name {
    font-size: 60px;
    transform: translate(0px, -40px);
    -webkit-transform: translate(0px, -40px);
    -moz-transform: translate(0px, -40px);
    -ms-transform: translate(0px, -40px);
    -o-transform: translate(0px, -40px);
  }

  #searchButton {
    font-weight: bolder;
    font-size: 20px;
  }

  #inputLocation {
    width: 276px;
    font-size: 15px;
  }

  #search-bar {
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(20px);
    transition: 0.17s;
    border-radius: 1rem;
    width: 430px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 2px solid rgba(0, 255, 4, 0.274);
  }

  #box-1 {
    width: 300px;
    height: 300px;
    top: 0;
    transform: translate(70px, 50px);
    -webkit-transform: translate(70px, 50px);
    -moz-transform: translate(70px, 50px);
    -ms-transform: translate(70px, 50px);
    -o-transform: translate(70px, 50px);
  }
  #box-2 {
    width: 300px;
    height: 300px;
    right: 0;
    top: 0;
    transform: translate(-70px, 50px);
    -webkit-transform: translate(-70px, 50px);
    -moz-transform: translate(-70px, 50px);
    -ms-transform: translate(-70px, 50px);
    -o-transform: translate(-70px, 50px);
  }
  #box-3 {
    width: 300px;
    height: 300px;
    top: 0;
    transform: translate(70px, 380px);
    -webkit-transform: translate(70px, 380px);
    -moz-transform: translate(70px, 380px);
    -ms-transform: translate(70px, 380px);
    -o-transform: translate(70px, 380px);
  }

  #box-4 {
    width: 300px;
    height: 300px;
    right: 0;
    top: 0;
    transform: translate(-70px, 380px);
    -webkit-transform: translate(-70px, 380px);
    -moz-transform: translate(-70px, 380px);
    -ms-transform: translate(-70px, 380px);
    -o-transform: translate(-70px, 380px);
  }
  #box-5 {
    width: 92.3%;
    height: 400px;
    margin: 570px auto 0; /* 70px top margin, auto left/right, 0 bottom margin */
    position: relative;
    transform: translateY(0); /* Reset any previous vertical translations */
  }
  #box-6 {
    margin-top: 20px;
    margin: 65px;
    text-align: center;
    width: 100;
    height: 400px; /* 70px top margin, auto left/right, 0 bottom margin */
    position: relative;
  }
  #city {
    font-size: 45px;
  }
  #weather-status-img {
    height: 80px;
  }
  #temp {
    font-size: 40px;
  }
  .btn-change-temprature {
    font-size: 30px;
  }

  #time {
    font-size: 24px;
  }
  #date {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .Day {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #Precipitation {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .Humidity {
    margin-bottom: 10px;
  }
  #Humidity {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .Wind {
    margin-bottom: 10px;
  }
  #Wind {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #country {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .country {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #region {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .region {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .future-forecast-container {
    margin-top: 30px;
    overflow-x: auto; /* Enables horizontal scrolling if needed */
    white-space: nowrap; /* Prevents sections from wrapping */
  }

  .section {
    width: 15%;
    display: inline-block; /* Allows sections to be side-by-side */

    margin: 40px;
    text-align: center;
  }
  .circle {
    height: 200px;
    width: 200px;
    backdrop-filter: blur(10px);
    border-radius: 100%;
    background-color: rgba(1, 1, 1, 0.653);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
  .future-forecast-date {
    font-size: 20px;
    transform: translate(0px, 30px);
    -webkit-transform: translate(0px, 30px);
    -moz-transform: translate(0px, 30px);
    -ms-transform: translate(0px, 30px);
    -o-transform: translate(0px, 30px);
  }
  .future-weather-status-img {
    height: 50px;
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  .down-line {
    padding: 50px;
    padding-top: 1470px;
    position: absolute;
  }

  #weather-text {
    font-size: 120px;
    transform: translate(0px, 60px);
    -webkit-transform: translate(0px, 60px);
    -moz-transform: translate(0px, 60px);
    -ms-transform: translate(0px, 60px);
    -o-transform: translate(0px, 60px);
  }
  #city-name {
    font-size: 80px;
    transform: translate(0px, 40px);
    -webkit-transform: translate(0px, 40px);
    -moz-transform: translate(0px, 40px);
    -ms-transform: translate(0px, 40px);
    -o-transform: translate(0px, 40px);
  }

  #searchButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 40px;
  }

  #inputLocation {
    width: 430px;
    margin-top: 10px;
    font-size: 40px;
  }

  #search-bar {
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    width: 700px;
    height: 100px;
    transition: 0.17s;
    top: 12%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
    border: 2px solid rgba(0, 255, 4, 0.274);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
  }
  #box-1 {
    width: 400px;
    height: 400px;
    transform: translate(50px, 400px);
    -webkit-transform: translate(50px, 400px);
    -moz-transform: translate(50px, 400px);
    -ms-transform: translate(50px, 400px);
    -o-transform: translate(50px, 400px);
  }
  #box-2 {
    width: 400px;
    height: 400px;
    right: 0;
    transform: translate(-50px, 400px);
    -webkit-transform: translate(-50px, 400px);
    -moz-transform: translate(-50px, 400px);
    -ms-transform: translate(-50px, 400px);
    -o-transform: translate(-50px, 400px);
  }
  #box-3 {
    width: 400px;
    height: 400px;
    transform: translate(50px, 850px);
    -webkit-transform: translate(50px, 850px);
    -moz-transform: translate(50px, 850px);
    -ms-transform: translate(50px, 850px);
    -o-transform: translate(50px, 850px);
  }
  #box-4 {
    width: 400px;
    height: 400px;
    right: 0;
    transform: translate(-50px, 850px);
    -webkit-transform: translate(-50px, 850px);
    -moz-transform: translate(-50px, 850px);
    -ms-transform: translate(-50px, 850px);
    -o-transform: translate(-50px, 850px);
  }
  #box-5 {
    width: 90%;
    height: 400px;
    transform: translate(50px, 1300px);
    -webkit-transform: translate(50px, 1300px);
    -moz-transform: translate(50px, 1300px);
    -ms-transform: translate(50px, 1300px);
    -o-transform: translate(50px, 1300px);
  }
  #box-6 {
    width: 90%;
    height: 400px;
    transform: translate(50px, 3050px);
    -webkit-transform: translate(50px, 3050px);
    -moz-transform: translate(50px, 3050px);
    -ms-transform: translate(50px, 3050px);
    -o-transform: translate(50px, 3050px);
  }

  #city {
    font-size: 50px;
  }
  #weather-status-img {
    height: 130px;
  }
  #temp {
    font-size: 50px;
  }
  .btn-change-temprature {
    font-size: 40px;
  }
  #time {
    font-size: 40px;
  }
  #date {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .Day {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #Precipitation {
    font-size: 37px;
    margin-bottom: 10px;
  }
  .Humidity {
    margin-bottom: 10px;
  }
  #Humidity {
    font-size: 37px;
    margin-bottom: 10px;
  }
  .Wind {
    margin-bottom: 10px;
  }
  #Wind {
    font-size: 37px;
    margin-bottom: 10px;
  }
  #country {
    font-size: 37px;
    margin-bottom: 10px;
  }
  .country {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #region {
    font-size: 37px;
    margin-bottom: 10px;
  }
  .region {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .future-forecast-container {
    margin-top: 50px;
  }
  .section {
    border-radius: 1rem;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.659);
    backdrop-filter: blur(15px);
    margin-top: 30x;
    margin-bottom: 30px;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
  .circle {
    display: flex;
    justify-content: center; /* Center horizontally (optional) */
    align-items: center; /* Center vertically */
    height: 200px; /* Set a height for the div */
  }
  .future-weather-status-img {
    padding: 0;
    margin: 0;
    width: 150px;
  }
  .future-forecast-date {
    font-size: 50px;
    margin-left: 15px;
  }
  .future-forecast-status {
    font-size: 40px;
    padding-left: 10px;
  }
  .future-forecast-tittle {
    text-align: center;
    font-size: 50px;
  }
  .tittle-map {
    text-align: center;
    font-size: 50px;
  }
}
